@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.flexing{
    flex-direction: unset !important;
}

.nav-improve {
    background-color: black !important;
    border-radius: 0 !important;
}

.navbar {
    margin-bottom: 0 !important;
}

h3 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.container {
    text-align: center;
}

html,body{
    background-color: black;
    margin-right: 100px;
    margin-left: 100px;
}

*{
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}

#app{
    padding: 1rem;
    background: black;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #54FE55;
    text-shadow: 0 0 10px;
    font-size: 6rem;
}

@keyframes blink {
    0%   {opacity: 0}
    49%  {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 1}
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

#firstDiv {
    background-color: black;
    color: #9d9d9d;
}

#svg {
    border: white solid 5px;
    padding: 15px;
    height: 100%;
}