html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.flags {
    display: flex;
}
.flag {
    width: 30px;
    height: 20px;
    align-items: center;
}
.fa-arrows-v {
    color: #f44336;
}
.fa-futbol-o {
    color: #009688;
}
.fa-truck {
    color: #ff9800;
}
.fa-plane {
    color: #2196f3;
}
.fa-home {
    color: goldenrod;
}
.fa-laptop {
    color: darkblue;
}
.fa-gears {
    color:  darkslategrey;
}
#form_div {
    display: flex;
}
#form_div input[type=number]{
    width: 10%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#form_div label, #send_stat label {
    font-size: 22px;
    margin: 10px;
}
#form_div button, #send_stat button {
    margin-left: 10px;
    padding: 11.5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}
#form_div button:hover, #send_stat button:hover {
    background-color: gold;
}
.flags .tooltiptext {
    visibility: hidden;
    background-color: rgba(204, 204, 204, 0.4);
    border: 1px solid #ccc;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-top: 1.7vw;
}
.input_tooltiptext {
    display: none;
    background-color: rgba(204, 204, 204, 0.4);
    border: 1px solid #ccc;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    z-index: 1;
    margin-left: 0.5vw;
}

.flags:hover .tooltiptext {
    visibility: visible;
}
textarea
{
    font-size: 1.25vw;
}

#console_result
{
    margin: 0vw 0vw 0vw 1vw;
    border-width: 0.05vw;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    width: 20vw;
    height: 15.3vw;
    text-align: center;
    font-size: 1.25vw;
    background: white;
}
.consoleContainer, .downloadBtn
{
    display: flex;
}
.model_div_img {
    position: relative;
    top: 0;
    left: 0;
}

#model_div {
    z-index: -1;
    width: 70%;
    /*margin: 3% 0 3% 15%;*/
    margin: 1% 0 7% 15%;
    height: 20vw;
    /*background: white;*/
    padding: 2% 0;
}
#airplane_svg {
    width: 70%;
    margin-left:15%;
    position: absolute;
    top: 0;
    left: 0;
}
#flat_svg {
    width: 10%;
    height: auto;
    position: absolute;
    top: 6.75vw;
    left: 6vw;
    /*position: relative;*/
    /*transform-origin: 50% 0%;*/
    /*transform: rotate(60deg);*/
    /*background-color: green;*/
}
#graph_div {
    width: 70%;
    height: auto;
    margin: 0 0 3% 15%;
}
#graph_info_div {
    width: 20%;
    margin-left: 15%;
    background-color: #f1f1f1;
    font-size: 0.7vw;
    display: flex;
}
#tr1 {
    color: #ff7f0e;
}
#tr2 {
    margin-left: 5%;
    color: #1f77b4;
}
#stat_div {
    width: 70%;
    background-color: white;
    margin: 0 0 5% 15%;
    padding: 30px;
}
#send_stat{
    margin-top: 2%;
    font-weight: bolder;
    display: flex;
}

#send_stat label
{
    font-size: 20px;
}

#send_stat input[type=email]
{
    padding: 12px 20px 12px 12px;
}
h3 {
    /*text-transform: uppercase;*/
    background-image: -webkit-linear-gradient(0deg, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
    background-image: -moz-linear-gradient(0deg, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
    background-image: linear-gradient(to right, hsla(175,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 16.666667%, hsla(150,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 33.333333%, hsla(75,70%,40%,1) 50%, hsla(25,70%,40%,1) 50%, hsla(25,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 66.666667%, hsla(10,70%,40%,1) 83.333333%, hsla(300,70%,40%,1) 83.333333%);
    -webkit-background-size: 20% 3px;
    -moz-background-size: 20% 3px;
    background-size: 20% 3px;
    background-repeat: no-repeat;
    background-position-y: bottom;
}
h3 {
    font-size: 1.4vw;
}

#checkbox_div {
    display: flex;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ffffb7;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: gold;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.downloadBtn button {
    padding: 11.5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 5px;
}

.downloadBtn button:hover, .buttons:hover
{
    background-color: gold;
}

.buttons {
    padding: 11.5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 5px;
}

h4{
    font-weight: bolder;
}

footer
{
    position:fixed;
    left: 0vw;
    bottom: 0vw;
    margin-bottom: 0;
    height: 2vw;
    width: 100%;
    background-color: black;
    font-size: 16px;
}

.right
{
    float: right;
    margin-right: 10px;
    color: white;
}

.right p{
    margin-top: 8px;
}

.grid-item {
    background-color: white;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.columnZolo {
    border: 2px solid #f44336;
}

.columnJuraj{
    border: 2px solid #2196F3;
}

.columnLukrecka {
    border: 2px solid #009688;
}

.columnLukas{
    border: 2px solid #ff9800;
}

#absorber {
    width: 50%;
    height: auto;
}

#carModel
{
    position: absolute;
    width: 75%;
    height: auto;
    margin-left: 10%;
}

#frontWheel
{
    position: absolute;
    width: 14%;
    height: auto;
    margin: 25.5% 0 0 62.2%;
}

#backWheel
{
    position: absolute;
    width: 14%;
    height: auto;
    margin: 25.5% 0 0 18.5%;
}

.rod {
    position: relative;
    transform-origin: 50% 0%;
    transform: rotate(60deg);
    background-color: green;
}

#pivot {
    position: absolute;
    top: -5px;
    left: -3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
}

#ball {
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
.table_container td {
    font-weight: normal;
    font-size: 1em;
}

.table_container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.table_container td, .table_container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;
}

/* Background-color of the odd rows */
.table_container thead:nth-child(odd) {
    background-color: white;
}

/* Background-color of the even rows */
.table_container thead:nth-child(even) {
    background-color: white;
}

.table_container thead:hover{
    background-color: #ffffe8;
    color: black;
    font-weight: bold;

    box-shadow: #606000 -1px 1px, #606000 -2px 2px, #606000 -3px 3px, #606000 -4px 4px, #606000 -5px 5px, #606000 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {
    .table_container td:nth-child(4),
    .table_container th:nth-child(4) { display: none; }
}

.airplane_frame{
    background-color: #2196F3 !important;
}

.suspension_frame{
    background-color: #ff9800 !important;
}

.ball_frame{
    background-color: #009688 !important;
}

.pendulum_frame{
    background-color: #f44336 !important;
}